.ratings{
    width: 190px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 110px;
}
@media only screen and (max-width: 768px) {
    .ratings{
        width: 98px;
        height: 18px;
        margin-left: 0px;
        margin-top: 22px;
    }
  }