@import '../../style.scss';

.banner-home{
    @extend .container-80;
}
@media only screen and (max-width: 768px) {
    .home{
      margin: 0;
      padding: 0;
      justify-content: center ;
      width: 100%;
    }
  }