.collapse-container { 
    margin-bottom: 10px;  
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
  }
  
  .collapse-header {
    background-color: #FF6060;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
  }
  
  .collapse-content {
    background-color: #f6f6f6;
    padding: 10px;
    color: #ff6060;
  }

  .arrow-icon {
    width: 30px;  
    height: 20px;  
    transition: transform 0.3s ease-in-out;
  }
  .arrow-icon.up {
    transform: rotate(180deg);
  }