@import '../../style.scss';

.banner-component {
  @extend .center-horizontal;
  @extend .container-80;

  position: relative;
  height: 223px;
  margin: 0 auto;
  border-radius: 25px;
  margin-top: 40px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
    filter: brightness(70%) contrast(90%);
  }

  p {
    @extend .center-horizontal;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-weight: 500;
    font-size: 48px;
    line-height: 68.45px;
    text-align: center;
    margin: 0;
  }
}

