@import '../../style.scss';

.Wway {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 139px;

    &__img{
        width: 600px;
        height: 260px;
    }

    &__p{

        font-size: 36px;
        font-weight: 500;
    }

}

@media only screen and (max-width: 768px) {
    .Wway{
        gap: 113px;
        
        
        &__img{
            width: 200px;
            height: 99px;
        }

        &__p{
            font-size: 18px;
            text-align: center;
            width: 80%;
        }
    }

}